.card{
   /* background-color: aqua; */
    margin-bottom:5px;
}

.identity{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.icons{
    margin-right: 15px;
}
.closeIcon{
    float: right;
   
    margin-bottom: 25px;
}